*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul li{
    padding-left: 0;
    list-style: none;
}

section{
    width: 100%;
    display: flex;
}

section ul{
    display: flex;
    flex-wrap: wrap;
}

section ul li{
    background-color: bisque;
    width: 150px;
    height: 200px;
    padding: 5px;
    margin: 10px;
}

section ul li div{
    width: 150px;
    height: 100px;
    background-color: aquamarine;
}

section ul li div img{
    width: 100%;
    height: 100%;
}

section ul li h3{
    margin-top: 5px;
}

section ul li p{
    margin-top: 5px;
}