*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul li{
    padding-left: 0;
    list-style: none;
}

section{
    width: 100%;
    display: flex;
}

section ul{
    display: flex;
}

section ul li{
    background-color: bisque;
    width: 100px;
    height: 50px;
    padding: 10px;
    margin: 10px;
}